[Desktop Entry]
Type=Application
Name=Logitune
Comment=Configure your Logitech devices
Exec=logitune
Icon=com.logitune.Logitune
Categories=Settings;HardwareSettings;
Keywords=logitech;mouse;keyboard;
X-GNOME-Autostart-enabled=true
